In [1]:
%cd ..
from tqdm import tqdm
import numpy as np
import pandas as pd
import torch
import pickle
import os

from torch_geometric.data import HeteroData
from relbench.datasets import get_dataset

from utils.data import preprocess_event_database

device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')

/home/lingze/embedding_fusion

/home/lingze/anaconda3/envs/deepdb/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
dataset = get_dataset('rel-event')
db = dataset.get_db()
preprocess_event_database(db)

Loading Database object from /home/lingze/.cache/relbench/rel-event/db...
Done in 2.97 seconds.

/home/lingze/embedding_fusion/utils/data.py:231: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  event_df["event_id"].replace(event_id2index, inplace=True)
/home/lingze/embedding_fusion/utils/data.py:231: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  event_df["event_id"].replace(event_id2index, inplace=True)
/home/lingze/embedding_fusion/utils/data.py:233: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  event_interest_df["event"].replace(event_id2index, inplace=True)
/home/lingze/embedding_fusion/utils/data.py:234: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  event_attendees_flattened_df["event"].replace(event_id2index, inplace=True)

In [3]:
# describe data
def describe_df(df: pd.DataFrame):
    n = len(df)
    for col in df.columns:
        unique_count = df[col].nunique()
        nan_count = df[col].isnull().sum()
        print(f'{col} Nonan {n-nan_count} - {unique_count}  unique values, {nan_count} NaN values')
        
for table_name, table in db.table_dict.items():
    print(f"Table {table_name}")
    describe_df(table.df)
    print("*"*40)

Table event_attendees
id Nonan 49822 - 49822  unique values, 0 NaN values
event Nonan 49822 - 6823  unique values, 0 NaN values
status Nonan 49822 - 4  unique values, 0 NaN values
user_id Nonan 49822 - 9257  unique values, 0 NaN values
start_time Nonan 49822 - 2576  unique values, 0 NaN values
****************************************
Table user_friends
id Nonan 213703 - 213703  unique values, 0 NaN values
user Nonan 213703 - 28164  unique values, 0 NaN values
friend Nonan 213703 - 28184  unique values, 0 NaN values
****************************************
Table events
event_id Nonan 11465 - 11465  unique values, 0 NaN values
user_id Nonan 86 - 61  unique values, 11379 NaN values
start_time Nonan 11465 - 3667  unique values, 0 NaN values
city Nonan 6024 - 998  unique values, 5441 NaN values
state Nonan 4661 - 89  unique values, 6804 NaN values
zip Nonan 973 - 643  unique values, 10492 NaN values
country Nonan 6047 - 82  unique values, 5418 NaN values
lat Nonan 7396 - 3418  unique values, 4069 NaN values
lng Nonan 7396 - 3613  unique values, 4069 NaN values
c_1 Nonan 11465 - 54  unique values, 0 NaN values
c_2 Nonan 11465 - 39  unique values, 0 NaN values
c_3 Nonan 11465 - 34  unique values, 0 NaN values
c_4 Nonan 11465 - 30  unique values, 0 NaN values
c_5 Nonan 11465 - 34  unique values, 0 NaN values
c_6 Nonan 11465 - 83  unique values, 0 NaN values
c_7 Nonan 11465 - 23  unique values, 0 NaN values
c_8 Nonan 11465 - 19  unique values, 0 NaN values
c_9 Nonan 11465 - 28  unique values, 0 NaN values
c_10 Nonan 11465 - 18  unique values, 0 NaN values
c_11 Nonan 11465 - 18  unique values, 0 NaN values
c_12 Nonan 11465 - 16  unique values, 0 NaN values
c_13 Nonan 11465 - 17  unique values, 0 NaN values
c_14 Nonan 11465 - 19  unique values, 0 NaN values
c_15 Nonan 11465 - 18  unique values, 0 NaN values
c_16 Nonan 11465 - 16  unique values, 0 NaN values
c_17 Nonan 11465 - 17  unique values, 0 NaN values
c_18 Nonan 11465 - 20  unique values, 0 NaN values
c_19 Nonan 11465 - 13  unique values, 0 NaN values
c_20 Nonan 11465 - 15  unique values, 0 NaN values
c_21 Nonan 11465 - 21  unique values, 0 NaN values
c_22 Nonan 11465 - 15  unique values, 0 NaN values
c_23 Nonan 11465 - 15  unique values, 0 NaN values
c_24 Nonan 11465 - 9  unique values, 0 NaN values
c_25 Nonan 11465 - 13  unique values, 0 NaN values
c_26 Nonan 11465 - 12  unique values, 0 NaN values
c_27 Nonan 11465 - 16  unique values, 0 NaN values
c_28 Nonan 11465 - 14  unique values, 0 NaN values
c_29 Nonan 11465 - 13  unique values, 0 NaN values
c_30 Nonan 11465 - 16  unique values, 0 NaN values
c_31 Nonan 11465 - 15  unique values, 0 NaN values
c_32 Nonan 11465 - 14  unique values, 0 NaN values
c_33 Nonan 11465 - 13  unique values, 0 NaN values
c_34 Nonan 11465 - 15  unique values, 0 NaN values
c_35 Nonan 11465 - 11  unique values, 0 NaN values
c_36 Nonan 11465 - 15  unique values, 0 NaN values
c_37 Nonan 11465 - 10  unique values, 0 NaN values
c_38 Nonan 11465 - 17  unique values, 0 NaN values
c_39 Nonan 11465 - 10  unique values, 0 NaN values
c_40 Nonan 11465 - 16  unique values, 0 NaN values
c_41 Nonan 11465 - 13  unique values, 0 NaN values
c_42 Nonan 11465 - 10  unique values, 0 NaN values
c_43 Nonan 11465 - 14  unique values, 0 NaN values
c_44 Nonan 11465 - 19  unique values, 0 NaN values
c_45 Nonan 11465 - 14  unique values, 0 NaN values
c_46 Nonan 11465 - 8  unique values, 0 NaN values
c_47 Nonan 11465 - 11  unique values, 0 NaN values
c_48 Nonan 11465 - 19  unique values, 0 NaN values
c_49 Nonan 11465 - 11  unique values, 0 NaN values
c_50 Nonan 11465 - 7  unique values, 0 NaN values
c_51 Nonan 11465 - 11  unique values, 0 NaN values
c_52 Nonan 11465 - 16  unique values, 0 NaN values
c_53 Nonan 11465 - 11  unique values, 0 NaN values
c_54 Nonan 11465 - 7  unique values, 0 NaN values
c_55 Nonan 11465 - 12  unique values, 0 NaN values
c_56 Nonan 11465 - 13  unique values, 0 NaN values
c_57 Nonan 11465 - 8  unique values, 0 NaN values
c_58 Nonan 11465 - 10  unique values, 0 NaN values
c_59 Nonan 11465 - 8  unique values, 0 NaN values
c_60 Nonan 11465 - 12  unique values, 0 NaN values
c_61 Nonan 11465 - 12  unique values, 0 NaN values
c_62 Nonan 11465 - 8  unique values, 0 NaN values
c_63 Nonan 11465 - 13  unique values, 0 NaN values
c_64 Nonan 11465 - 12  unique values, 0 NaN values
c_65 Nonan 11465 - 12  unique values, 0 NaN values
c_66 Nonan 11465 - 9  unique values, 0 NaN values
c_67 Nonan 11465 - 9  unique values, 0 NaN values
c_68 Nonan 11465 - 8  unique values, 0 NaN values
c_69 Nonan 11465 - 9  unique values, 0 NaN values
c_70 Nonan 11465 - 6  unique values, 0 NaN values
c_71 Nonan 11465 - 13  unique values, 0 NaN values
c_72 Nonan 11465 - 12  unique values, 0 NaN values
c_73 Nonan 11465 - 9  unique values, 0 NaN values
c_74 Nonan 11465 - 9  unique values, 0 NaN values
c_75 Nonan 11465 - 7  unique values, 0 NaN values
c_76 Nonan 11465 - 9  unique values, 0 NaN values
c_77 Nonan 11465 - 10  unique values, 0 NaN values
c_78 Nonan 11465 - 9  unique values, 0 NaN values
c_79 Nonan 11465 - 14  unique values, 0 NaN values
c_80 Nonan 11465 - 9  unique values, 0 NaN values
c_81 Nonan 11465 - 7  unique values, 0 NaN values
c_82 Nonan 11465 - 9  unique values, 0 NaN values
c_83 Nonan 11465 - 10  unique values, 0 NaN values
c_84 Nonan 11465 - 7  unique values, 0 NaN values
c_85 Nonan 11465 - 7  unique values, 0 NaN values
c_86 Nonan 11465 - 12  unique values, 0 NaN values
c_87 Nonan 11465 - 8  unique values, 0 NaN values
c_88 Nonan 11465 - 11  unique values, 0 NaN values
c_89 Nonan 11465 - 10  unique values, 0 NaN values
c_90 Nonan 11465 - 7  unique values, 0 NaN values
c_91 Nonan 11465 - 9  unique values, 0 NaN values
c_92 Nonan 11465 - 7  unique values, 0 NaN values
c_93 Nonan 11465 - 7  unique values, 0 NaN values
c_94 Nonan 11465 - 9  unique values, 0 NaN values
c_95 Nonan 11465 - 7  unique values, 0 NaN values
c_96 Nonan 11465 - 12  unique values, 0 NaN values
c_97 Nonan 11465 - 10  unique values, 0 NaN values
c_98 Nonan 11465 - 7  unique values, 0 NaN values
c_99 Nonan 11465 - 9  unique values, 0 NaN values
c_100 Nonan 11465 - 8  unique values, 0 NaN values
c_other Nonan 11465 - 418  unique values, 0 NaN values
****************************************
Table event_interest
user Nonan 14135 - 1970  unique values, 0 NaN values
event Nonan 14135 - 8119  unique values, 0 NaN values
invited Nonan 14135 - 2  unique values, 0 NaN values
timestamp Nonan 14135 - 4400  unique values, 0 NaN values
interested Nonan 14135 - 2  unique values, 0 NaN values
not_interested Nonan 14135 - 2  unique values, 0 NaN values
id Nonan 14135 - 14135  unique values, 0 NaN values
****************************************
Table users
user_id Nonan 37143 - 37143  unique values, 0 NaN values
locale Nonan 37143 - 64  unique values, 0 NaN values
birthyear Nonan 35668 - 94  unique values, 1475 NaN values
gender Nonan 37037 - 2  unique values, 106 NaN values
joinedAt Nonan 37143 - 37143  unique values, 0 NaN values
location Nonan 31747 - 2705  unique values, 5396 NaN values
timezone Nonan 36749 - 52  unique values, 394 NaN values
****************************************

In [4]:
for table_name, table in db.table_dict.items():
    n = len(table.df)
    print(f"Table {table_name} has {n} rows")

Table event_attendees has 49822 rows
Table user_friends has 213703 rows
Table events has 11465 rows
Table event_interest has 14135 rows
Table users has 37143 rows

In [5]:
from utils.preprocess import infer_type_in_db
from utils.tokenize import tokenize_database
col_type_dict = infer_type_in_db(db, True)

[rule 0]: event_attendees Inferred id from numerical as categorical
[rule 0]: event_attendees Inferred user_id from numerical as categorical
[rule 0]: user_friends Inferred id from numerical as categorical
[rule 0]: events Inferred event_id from numerical as categorical
[rule 0]: events Inferred user_id from numerical as categorical
[rule 1]: events Inferred c_1 from numerical as categorical
[rule 1]: events Inferred c_2 from numerical as categorical
[rule 1]: events Inferred c_3 from numerical as categorical
[rule 1]: events Inferred c_4 from numerical as categorical
[rule 1]: events Inferred c_5 from numerical as categorical
[rule 1]: events Inferred c_6 from numerical as categorical
[rule 1]: events Inferred c_7 from numerical as categorical
[rule 1]: events Inferred c_8 from numerical as categorical
[rule 1]: events Inferred c_9 from numerical as categorical
[rule 1]: events Inferred c_10 from numerical as categorical
[rule 1]: events Inferred c_11 from numerical as categorical
[rule 1]: events Inferred c_12 from numerical as categorical
[rule 1]: events Inferred c_13 from numerical as categorical
[rule 1]: events Inferred c_14 from numerical as categorical
[rule 1]: events Inferred c_15 from numerical as categorical
[rule 1]: events Inferred c_16 from numerical as categorical
[rule 1]: events Inferred c_17 from numerical as categorical
[rule 1]: events Inferred c_18 from numerical as categorical
[rule 1]: events Inferred c_19 from numerical as categorical
[rule 1]: events Inferred c_20 from numerical as categorical
[rule 1]: events Inferred c_21 from numerical as categorical
[rule 1]: events Inferred c_22 from numerical as categorical
[rule 1]: events Inferred c_23 from numerical as categorical
[rule 1]: events Inferred c_24 from numerical as categorical
[rule 1]: events Inferred c_25 from numerical as categorical
[rule 1]: events Inferred c_26 from numerical as categorical
[rule 1]: events Inferred c_27 from numerical as categorical
[rule 1]: events Inferred c_28 from numerical as categorical
[rule 1]: events Inferred c_29 from numerical as categorical
[rule 1]: events Inferred c_30 from numerical as categorical
[rule 1]: events Inferred c_31 from numerical as categorical
[rule 1]: events Inferred c_32 from numerical as categorical
[rule 1]: events Inferred c_33 from numerical as categorical
[rule 1]: events Inferred c_34 from numerical as categorical
[rule 1]: events Inferred c_35 from numerical as categorical
[rule 1]: events Inferred c_36 from numerical as categorical
[rule 1]: events Inferred c_37 from numerical as categorical
[rule 1]: events Inferred c_38 from numerical as categorical
[rule 1]: events Inferred c_39 from numerical as categorical
[rule 1]: events Inferred c_40 from numerical as categorical
[rule 1]: events Inferred c_41 from numerical as categorical
[rule 1]: events Inferred c_42 from numerical as categorical
[rule 1]: events Inferred c_43 from numerical as categorical
[rule 1]: events Inferred c_44 from numerical as categorical
[rule 1]: events Inferred c_45 from numerical as categorical
[rule 1]: events Inferred c_46 from numerical as categorical
[rule 1]: events Inferred c_47 from numerical as categorical
[rule 1]: events Inferred c_48 from numerical as categorical
[rule 1]: events Inferred c_49 from numerical as categorical
[rule 1]: events Inferred c_50 from numerical as categorical
[rule 1]: events Inferred c_51 from numerical as categorical
[rule 1]: events Inferred c_52 from numerical as categorical
[rule 1]: events Inferred c_53 from numerical as categorical
[rule 1]: events Inferred c_54 from numerical as categorical
[rule 1]: events Inferred c_55 from numerical as categorical
[rule 1]: events Inferred c_56 from numerical as categorical
[rule 1]: events Inferred c_57 from numerical as categorical
[rule 1]: events Inferred c_58 from numerical as categorical
[rule 1]: events Inferred c_59 from numerical as categorical
[rule 1]: events Inferred c_60 from numerical as categorical
[rule 1]: events Inferred c_61 from numerical as categorical
[rule 1]: events Inferred c_62 from numerical as categorical
[rule 1]: events Inferred c_63 from numerical as categorical
[rule 1]: events Inferred c_64 from numerical as categorical
[rule 1]: events Inferred c_65 from numerical as categorical
[rule 1]: events Inferred c_66 from numerical as categorical
[rule 1]: events Inferred c_67 from numerical as categorical
[rule 1]: events Inferred c_68 from numerical as categorical
[rule 1]: events Inferred c_69 from numerical as categorical
[rule 1]: events Inferred c_70 from numerical as categorical
[rule 1]: events Inferred c_71 from numerical as categorical
[rule 1]: events Inferred c_72 from numerical as categorical
[rule 1]: events Inferred c_73 from numerical as categorical
[rule 1]: events Inferred c_74 from numerical as categorical
[rule 1]: events Inferred c_75 from numerical as categorical
[rule 1]: events Inferred c_76 from numerical as categorical
[rule 1]: events Inferred c_77 from numerical as categorical
[rule 1]: events Inferred c_78 from numerical as categorical
[rule 1]: events Inferred c_79 from numerical as categorical
[rule 1]: events Inferred c_80 from numerical as categorical
[rule 1]: events Inferred c_81 from numerical as categorical
[rule 1]: events Inferred c_82 from numerical as categorical
[rule 1]: events Inferred c_83 from numerical as categorical
[rule 1]: events Inferred c_84 from numerical as categorical
[rule 1]: events Inferred c_85 from numerical as categorical
[rule 1]: events Inferred c_86 from numerical as categorical
[rule 1]: events Inferred c_87 from numerical as categorical
[rule 1]: events Inferred c_88 from numerical as categorical
[rule 1]: events Inferred c_89 from numerical as categorical
[rule 1]: events Inferred c_90 from numerical as categorical
[rule 1]: events Inferred c_91 from numerical as categorical
[rule 1]: events Inferred c_92 from numerical as categorical
[rule 1]: events Inferred c_93 from numerical as categorical
[rule 1]: events Inferred c_94 from numerical as categorical
[rule 1]: events Inferred c_95 from numerical as categorical
[rule 1]: events Inferred c_96 from numerical as categorical
[rule 1]: events Inferred c_97 from numerical as categorical
[rule 1]: events Inferred c_98 from numerical as categorical
[rule 1]: events Inferred c_99 from numerical as categorical
[rule 1]: events Inferred c_100 from numerical as categorical
[rule 0]: event_interest Inferred id from numerical as categorical
[rule 0]: users Inferred user_id from numerical as categorical
[rule 1]: users Inferred locale from text_embedded as categorical
[rule 1]: users Inferred birthyear from numerical as categorical
[rule 1]: users Inferred timezone from numerical as categorical

In [6]:
# check all col types
for table_name, col_types in col_type_dict.items():
    print(f"Table {table_name}")
    for col, type_ in col_types.items():
        print(f"{col}: {type_}")
    print("*"*40)

Table event_attendees
id: categorical
event: categorical
status: categorical
user_id: categorical
start_time: timestamp
****************************************
Table user_friends
id: categorical
user: categorical
friend: categorical
****************************************
Table events
event_id: categorical
user_id: categorical
start_time: timestamp
city: text_embedded
state: text_embedded
zip: text_embedded
country: text_embedded
lat: numerical
lng: numerical
c_1: categorical
c_2: categorical
c_3: categorical
c_4: categorical
c_5: categorical
c_6: categorical
c_7: categorical
c_8: categorical
c_9: categorical
c_10: categorical
c_11: categorical
c_12: categorical
c_13: categorical
c_14: categorical
c_15: categorical
c_16: categorical
c_17: categorical
c_18: categorical
c_19: categorical
c_20: categorical
c_21: categorical
c_22: categorical
c_23: categorical
c_24: categorical
c_25: categorical
c_26: categorical
c_27: categorical
c_28: categorical
c_29: categorical
c_30: categorical
c_31: categorical
c_32: categorical
c_33: categorical
c_34: categorical
c_35: categorical
c_36: categorical
c_37: categorical
c_38: categorical
c_39: categorical
c_40: categorical
c_41: categorical
c_42: categorical
c_43: categorical
c_44: categorical
c_45: categorical
c_46: categorical
c_47: categorical
c_48: categorical
c_49: categorical
c_50: categorical
c_51: categorical
c_52: categorical
c_53: categorical
c_54: categorical
c_55: categorical
c_56: categorical
c_57: categorical
c_58: categorical
c_59: categorical
c_60: categorical
c_61: categorical
c_62: categorical
c_63: categorical
c_64: categorical
c_65: categorical
c_66: categorical
c_67: categorical
c_68: categorical
c_69: categorical
c_70: categorical
c_71: categorical
c_72: categorical
c_73: categorical
c_74: categorical
c_75: categorical
c_76: categorical
c_77: categorical
c_78: categorical
c_79: categorical
c_80: categorical
c_81: categorical
c_82: categorical
c_83: categorical
c_84: categorical
c_85: categorical
c_86: categorical
c_87: categorical
c_88: categorical
c_89: categorical
c_90: categorical
c_91: categorical
c_92: categorical
c_93: categorical
c_94: categorical
c_95: categorical
c_96: categorical
c_97: categorical
c_98: categorical
c_99: categorical
c_100: categorical
c_other: numerical
****************************************
Table event_interest
user: categorical
event: categorical
invited: categorical
timestamp: timestamp
interested: categorical
not_interested: categorical
id: categorical
****************************************
Table users
user_id: categorical
locale: categorical
birthyear: categorical
gender: categorical
joinedAt: timestamp
location: text_embedded
timezone: categorical
****************************************

In [7]:
# preprocess the table, concatenate the columns which is text type
#        /--- text_col_1 ---/ --- text_col_2 --- / --- text_col_3 --- / 
# row 1  /------- A   -----/ ------- B   -----  / -----   C  ------- /
# -------> Generate a new TexT column
# "text_col_1 is A, text_col_2 is B, text_col_3 is C"

# Therefore, we only need to convert this text column to vector 
# and drop the original text columns
# for saving memory and computation 
from torch_frame import stype

for table_name, type_dict in col_type_dict.items():
    # collect the text columns
    text_cols = [ col for col, stype in type_dict.items() if stype == stype.text_embedded]
    compress_cols = []
    # for long text, we still keep it as one column
    for col in text_cols:
        avg_word_count = db.table_dict[table_name].df[col].dropna().apply(lambda x: len(str(x).split())).mean()
        if avg_word_count < 128: # a half of default max length of BERT Max length （256）
            # remove the long text cols
            compress_cols.append(col)
          
    
    if len(compress_cols) <= 1:
        # if only one text column, we do not need to compress
        continue
    
    print(f"----> Compressing {table_name} text columns: {compress_cols}")
    
    df = db.table_dict[table_name].df
    compress_text_df = df[compress_cols]
    
    def row_to_text(row):
        if row.isna().all():
            return None
        tokens = [f"{key} is {value}" for key, value in row.dropna().items()]
        return ", ".join(tokens)

    text_list = compress_text_df.apply(row_to_text, axis=1).tolist()
    
    # drop the compressed columns
    df.drop(columns=compress_cols, inplace=True)
    df["text_compress"] = text_list
    
    # update the type dict
    for col in compress_cols:
        type_dict.pop(col)
    type_dict["text_compress"] = stype.text_embedded

----> Compressing events text columns: ['city', 'state', 'zip', 'country']

In [8]:
from utils.resource import get_text_embedder_cfg
text_embedder_cfg = get_text_embedder_cfg(
    # model_name = "sentence-transformers/average_word_embeddings_glove.6B.300d", 
    model_name = "all-MiniLM-L12-v2",
    device = device)

In [9]:
from utils.builder import build_pyg_hetero_graph
cache_dir = "./data/rel-event-tensor-frame"
data, col_stats_dict = build_pyg_hetero_graph(
    db,
    col_type_dict,
    text_embedder_cfg,
    cache_dir,
    True,
)

-----> Materialize event_attendees Tensor Frame
-----> Build edge between users and users
-----> Materialize events Tensor Frame

Embedding raw data in mini-batch: 100%|██████████| 23/23 [00:09<00:00,  2.41it/s]

-----> Materialize event_interest Tensor Frame
-----> Materialize users Tensor Frame

Embedding raw data in mini-batch: 100%|██████████| 73/73 [00:24<00:00,  2.95it/s]

In [10]:
# save the col_type_dict
with open(os.path.join(cache_dir, "col_type_dict.pkl"), "wb") as f:
    pickle.dump(col_type_dict, f)